{% extends 'base.html.twig' %}

{% block title %}{{ rack.name }}{% endblock %}

{% block body %}

    <div class="container">
        {% for category in rack.categories %}
            <div class="box">
                <p class="categoryName">{{ category.name }}</p>
                <div class="booksDiv">
                    <ul class="booksList">
                        {% for book in books %}
                            {% if category.id == book.category.id %}
                                <li class="bookTitle">-> <a href="{{ path('book_solo', {id: book.id}) }}">{{ book.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
